<nav class="docs-sidebar">
  <ul class="docs-sidebar-list">
    <li class="docs-sidebar-item">
      <a href="/docs/">
        Introduce
      </a>
    </li>
    <li class="docs-sidebar-item">
      <a href="/docs/shoes">
        Shoes
      </a>
    </li>
    <li class="docs-sidebar-item">
      <a href="/docs/image">
        Image
      </a>
    </li>
  </ul>
</nav>