<header>
  <nav class="navbar flex justify-center">
    <div class="nav-container wide flex align-center">
      <a href="/">
        <img src="/public/img/kickz_logo.svg" alt="Kickz's Logo" />
      </a>
      <ul class="nav-items flex align-center">
        <li class="nav-item">
          <a href="/">Home</a>
        </li>
        <li class="nav-item">
          <a href="/docs">Docs</a>
        </li>
        <li>
          <a href="" class="btn">
            <img src="/public/img/github_logo.svg" alt="GitHub's Logo">
            GitHub
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>