<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kickz API</title>
  <meta name="description" content="asd" />
  <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/public/css/prism.css">
  <link rel="stylesheet" href="/public/css/styles.css">
  <script src="/public/js/prism.js"></script>
</head>