<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  
  <section class="flex justify-center">
    <div class="wide flex">
      <%- include('./partials/docsSidebar') %>
      <div class="docs-main">
        <h1 class="docs-title">
          Kickz API - Docs
        </h1>
        <p class="display-para">
          Kickz API can be used with any type of front end project that needs shoes, image in JSON format.
          <br />
          You can use examples below to check how Kickz API works.
        </p>
      </div>
    </div>
  </section>

  <%- include('./partials/footer.ejs') %>
  <script>
    selectNavItem(window.location.hash || '');
  </script>
</body>
</html>