<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>

  <section class="flex justify-center">
    <div class="wide">
    <div class="content-wrap flex align-center">
      <div class="content flex justify-center">
        <h1>Power up your sneaker business with Kickz API</h1>
        <p>
          Get shoes JSON data for your frontend with Kickz API Server — A single URL and everything's done!
        </p>
        <div class="btns-container flex">
          <a href="" target="_blank" class="btn btn-primary">
            <img src="/public/img/github_logo.svg" alt="GitHub's Logo" />
            See more on GitHub
          </a>
          <a href="/docs" class="btn">Read Docs</a>
        </div>
      </div>
      <div class="image"></div>    
    </div>
    </div>
  </section>
</body>
</html>